body {
    font-family: 'Raleway', sans-serif;
  }
  
  #blockpage{
    max-width: 992px;
  }
  
  h1 {
    font-size: 19px;
  }
  
  h2 {
    font-size: 17px;
  }
  
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-left: 13px;
  }
  
  p, ul {
    font-size: 14px;
  }
  
  #header {
    display: flex;
    margin: 15px;
    justify-content: space-between;
  }

  /* Navigation */
  nav {
      margin-bottom: 50px;
      margin-top: 35px;
      /*
      border-bottom: 4px solid #F2F2F2; */
  }
  
  nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      /*
      border-bottom: 4px solid #F2F2F2; */
  }
  
  nav li
  {
    margin-left: 10px;
    margin-right: 100px;
  }
  
  nav a {
      text-decoration: none;
      font-size: 16px;
      color: black;
  }
  
  nav a:hover {
    color: #0065FC;
    /* border-bottom: 4px solid #0065FC; */
    padding-top: 40px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .navsinscrire {
      font-weight: bold;
      color: #0065FC;
      text-decoration: none;
      margin-top: 15px;
      margin-right: 30px;
  }
  
  /* filter section */
  
  #filtersection {
    margin: 15px;
  }
  
  #filtersection p {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  #filtersection label {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
  }
  
  .locationicon {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
    width: 50px;
    height: 36px;
    text-align: center;
    padding-top: 15px;
  }
  
  .searchlocation {
    display: flex;
    margin-top: 35px;
  }
  
  #location {
    height: 50px;
    width: 260px;
    border: 1px solid #F2F2F2;
  }

  .searchbtn {
    color: #F2F2F2;
    font-size: 14px;
    background-color: #0065FC;
    height: 50px;
    width: 55px;
    border-radius: 12px;
    margin-left: -4px;
  }
  
  .searchbtn i {
    color: white;
    width: 45px;
    margin-top: 15px;
  }

  .searchbtn span {
    color: #0065FC;
}
  
  #filters {
    margin-top: 40px;
    margin-left: -40px;
    width: 400px;
  }
  
  #btncontainer {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-top: 8px;
    /*justify-content: space-between; */
  }
  
  #btncontainer :hover {
    color: #0065FC;
  }
  
  .btn {
    height: 35px;
    border-radius: 20px;
    background-color: white;
    outline:  #F2F2F2;
    display: flex;
    margin-right: 25px;
  }
  
  .btn i {
    background-color: #DEEBFF;
    width: 50px;
    height: 35px;
    color: #0065FC;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;

  }
  
  .btn p {
    border: 2px solid  #F2F2F2;
    height: 50x;
    width: max-content;
    border-radius: 20px;
    padding: 5px 15px 5px 35px;
    margin-left: -35px;
    align-self: center;
    font-weight: bold;
  }
  
  #filtersection {
    margin-top: 20px;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }
  
  /* div container */
  #container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  #info {
    display: flex;
    margin-left: 15px;
    margin-top: 120px;
  }
  
  #info i {
    color: #0065FC;
    border: 1.8px solid #F2F2F2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  #info p {
    margin-left: 10px;
    margin-top: 5px;
  }
  
  #hebergements {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  
  /*
  .hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  

  #upperheberge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 16px;
  }
  
  #downheberge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .hotelcard {
    width: 260px;
    height: 190px;
    border: 4px solid white;
    background-color: white;
    border-radius: 18px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px#aeacaf;
  }
  
  .imgcard_h {
    width: 260px;
    height: 110px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
  }
  */
  .hotelcard_p {
    width: 460px;
    height: 210px;
    border: 4.5px solid white;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px#aeacaf;
    display: flex;
  }
  
  .imgcard_p {
    width: 180px;
    height: 210px;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
  }
  
  #sectionhebergements {
    padding: 20px 30px;
  }
  
  #descriptionheberge h3 {
    /* font-size: 14px;
    font-weight: bold; 
    margin-left: 13px; */
    margin-top: 8px;
    margin-left: 18px;
  } 
  
  #afficher {
      font-size: 18px;
      margin-left: -10px;
  }

  #sectionhebergements p {
    margin-top: 10px;
    margin-left: 18px;
  }
  
  #cardspopulaires .stars {
    display: flex;
    margin-top: 70px;
    margin-left: 20px;
  }
  
  .bluestar {
    color: #0065FC;
  }
  
  .greystar {
    color: #F2F2F2;
    margin-left: 5px;
  }
  
  #sectionpopulaires {
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 25px -5px 40px -5px ;
  }
  
  #sectionpopulaires i {
    margin-top: 20px;
    margin-right: 20px;
  }
  

  #sectionpopulaires h2 {
    margin-left: 20px;
  }
  
  #cardspopulaires {
    margin-left: 50px;
    margin-top: 18px;
  }
  
  #cardspopulaires h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  #sectionpopulaires p {
    margin-top: 15px;
    margin-left: 20px;
  }
  
  #title {
    display: flex;
    justify-content: space-between;
  }
 
/* section hebergements */  
  #upperheberge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 16px;
  }
  
  #downheberge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hotelcard {
    width: 460px;
    height: 290px;
    border: 4px solid white;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px#aeacaf;
  }
  
  .imgcard_h {
    width: 460px;
    height: 180px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
  }

  #sectionhebergements .stars {
      margin-left: 18px;
  }


  /* section activites */
  #activites {
    width: 100%;
    margin: 15px;
  }
  
  .cards {
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 280px;
  }
  
  .activite_s {
    width: 460px;
    height: 270px;
    margin-left: 18px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px#aeacaf;
  }
  .imgcard_as {
    width: 460px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
  }
  .activite_d {
    height: 270px;
    width: 460px;
    display: flex;
    flex-direction: column;
    margin-left: 18px;
  }
  
  #pomegues {
    width: 460px;
    height: 270px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px#aeacaf;
  }
  
  #img_pomegues {
    width: 460px;
    height: 200px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
    object-position: 0 -200px;
  }
  
  #frioul {
    width: 460px;
    height: 270px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px#aeacaf;
  }
  
  #img_frioul {
    width: 460px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    object-position: 0 -8px;
  }
  
  #notredame {
    width: 460px;
    height: 270px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px#aeacaf;
  }
  
  #img_notredame {
    width: 460px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    object-position: 0 -6px;
  }
  
  #longchamp {
    width: 460px;
    height: 270px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px#aeacaf;
  }
  
  #img_longchamp {
    width: 460px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    object-position: 0 -28px;
  }
  
  #activites h3 {
      margin-left: 20px;
      margin-bottom: 20px;
  }

  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 500px;
    padding-bottom: 40px;
    justify-content: space-between;
  }
  
  footer ul {
    padding-left: 2px;
    padding-top: 5px;
    margin-bottom: 40px;
  }
  
  footer li {
    margin-bottom: 15px;
  }

  footer a {
    color: black;
    text-decoration: none;
  }