* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

#blockpage {
  max-width: 1600px;
  margin: auto;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 15px;
  margin-left: 13px;
}

p,
ul {
  font-size: 15px;
}

header {
  display: flex;
  flex-wrap: wrap;
}

#logo {
  margin-left: 15px;
}

/* Navigation */
nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 20px;
  align-items: flex-end;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
}

nav li {
  text-decoration: none;
  color: inherit;
  padding-top: 50px;
  border-top: 2px solid transparent;
  margin-right: 60px;
}

nav li:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}

ul {
  list-style-type: none;
}

#navsinscrire {
  font-weight: bolder;
  color: #0065fc;
}

/* filter section */
#filtersection {
  margin: 15px;
  height: 150px;
  position: relative;
  padding-bottom: 20px;
}

#filtersection p {
  margin-top: 5px;
}

.locationicon {
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
  width: 40px;
  text-align: center;
  padding-top: 10px;
}

.searchlocation {
  display: flex;
  padding-top: 15px;
}

#location {
  height: 40px;
  width: 230px;
  border: 1px solid #f2f2f2;
}

.searchbtn {
  color: #f2f2f2;
  font-size: 14px;
  background-color: #0065fc;
  height: 40px;
  width: 110px;
  border-radius: 0 12px 12px 0;
}

.searchbtn i {
  color: #0065fc;
  width: 0;
}

#filters {
  display: flex;
  margin-top: 35px;
}

#filters h2 {
  margin-top: 8px;
}

#btncontainer {
  display: flex;
  margin-left: 30px;
}

#btncontainer :hover {
  color: #0065fc;
}

.btn {
  height: 35px;
  background-color: white;
  outline: #f2f2f2;
  display: flex;
  margin-right: 30px;
}

.btn i {
  background-color: #deebff;
  width: 42px;
  height: 28px;
  color: #0065fc;
  border-radius: 25px;
  text-align: center;
  padding-top: 12px;
}

.btn p {
  border: 2.5px solid #f2f2f2;
  width: max-content;
  border-radius: 25px;
  margin-left: -43px;
  padding: 10px 15px 10px 50px;
  align-self: center;
  font-weight: bold;
}

/* div container */
#container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

#info {
  display: flex;
  margin-left: 15px;
  padding-top: -25px;
  padding-bottom: 20px;
}

#info i {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  width: 24px;
  height: 20px;
  text-align: center;
  padding: 4px 2px 0 2px;
  border-radius: 50%;
}

#info p {
  margin-left: 15px;
  margin-top: 7px;
}

#heberge_pop h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}

#heberge_pop {
  display: flex;
  justify-content: space-between;
}

#sectionhebergements {
  background-color: #f2f2f2;
  border-radius: 18px;
  width: 67%;
  margin: 15px;
  padding: 40px 20px 25px 20px;
}

#sectionhebergements h2 {
  margin-left: 18px;
}

#sectionhebergements h3 {
  margin-top: 12px;
}

#sectionhebergements p {
  margin-top: 4px;
  margin-left: 13px;
}

.hebergements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}

.hotelcard {
  width: 30%;
  height: 190px;
  position: relative;
  border: 4px solid white;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 10px#aeacaf;
}

.imgcard_h {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.hotelcard_p {
  width: 95%;
  margin: auto;
  height: 130px;
  position: relative;
  border: 4px solid white;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 10px#aeacaf;
  display: flex;
}

.imgcard_p {
  width: 40%;
  object-fit: cover;
  border-radius: 18px 0 0 18px;
}

.stars {
  display: flex;
  margin-top: 1px;
  margin-left: 13px;
}

.stars_p {
  padding-top: 25px;
  display: flex;
  margin-left: 13px;
}

.bluestar {
  color: #0065fc;
}

.greystar {
  color: #f2f2f2;
  margin-left: 5px;
}

#sectionpopulaires {
  background-color: #f2f2f2;
  border-radius: 18px;
  width: 32%;
  padding: 40px 20px 25px 20px;
  position: relative;
  margin: 15px;
}

#sectionpopulaires h2 {
  margin-left: 18px;
}

#sectionpopulaires p {
  margin-top: 8px;
  margin-left: 13px;
}

#title {
  display: flex;
  justify-content: space-between;
}

#title i {
  margin-top: 10px;
  margin-right: 25px;
}

#cardspopulaires {
  padding-top: 20px;
  justify-content: center;
}

#cardspopulaires h3 {
  font-weight: bold;
  margin-top: 12px;
  margin-left: 13px;
}

/* section activites */
#activites {
  width: 100%;
  margin: 15px;
  padding-top: 20px;
}

#activites h3 {
  margin-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  position: relative;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 55px;
}

.activitecard_s {
  width: 20%;
  height: 440px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

.imgcard_as {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.activite_d {
  height: 440px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pomegues {
  width: 100%;
  height: 220px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_pomegues {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -150px;
}

#frioul {
  width: 100%;
  height: 180px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_frioul {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -12px;
}

#notredame {
  width: 100%;
  height: 180px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_notredame {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -12px;
}

#longchamp {
  width: 100%;
  height: 220px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_longchamp {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -8px;
}

/* footer */
footer {
  display: flex;
  height: 170px;
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 300px;
  justify-content: space-between;
}

footer ul {
  padding-top: 20px;
}

footer li {
  margin-bottom: 15px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

/* mobile */
@media screen and (max-width: 767px) {

  #blockpage {
    width: auto;
  }

  #logo {
    padding-top: 20px;
  }

  nav {
    flex-direction: column;
    margin-top: -25px;
    margin-right: unset;
    width: 100%;
  }

  nav li {
    padding-right: 80px;
    padding-left: 45px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f2f2f2;
    margin-right: unset;
  }

  nav li:hover {
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
    border-top: unset;
  }

  #navsinscrire {
    order: -1;
    padding-right: 20px;
  }

  .searchbtn {
    color: #f2f2f2;
    font-size: 14px;
    background-color: #0065fc;
    height: 40px;
    width: 45px;
    border-radius: 12px;
    margin-left: -10px;
  }

  .searchbtn i {
    color: white;
    width: 45px;
    margin-top: 13px;
    margin-bottom: 8px;
  }

  .searchbtn span {
    color: white;
  }

  #filters {
    flex-direction: column;
  }

  .btn {
    margin-bottom: 15px;
  }

  #btncontainer {
    width: 100%;
    flex-wrap: wrap;
    margin-left: unset;
    margin-top: 20px;
  }

  #container {
    padding-top: 175px;
  }

  #container p {
    padding-right: 15px;
  }

  #heberge_pop {
    flex-direction: column-reverse;
  }

  #sectionpopulaires {
    width: 100%;
    border-radius: unset;
    padding: unset;
    margin: unset;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  
  #sectionhebergements {
    width: 100%;
    border-radius: unset;
    padding: unset;
    margin: unset;
    background-color: unset;
    padding-top: 30px;
  }

  .hotelcard {
    width: 85%;
  }

  .hotelcard_p {
    width: 85%;
  }

  #activites {
    margin: unset;
    padding-top: 40px;
  }

  #ancreactivites {
    margin-left: 15px;
  }

  .cards {
    width: 85%;
    margin: auto;
    padding-top: 35px;
  }

  .activitecard_s {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
  }

  .activitecard_s h3 {
    padding-top: 5px;
  }

  .imgcard_as {
    width: 100%;
    height: 140px;
    object-fit: cover;
    object-position: 0 -11px;
  }

  .activite_d {
    width: 100%;
    justify-content: unset;
  }

  #pomegues {
    margin-bottom:30px;
    height: 200px;
  }

  #img_pomegues {
    height: 140px;
    object-position: 0 -140px;
  }

  #frioul {
    height: 200px;
    margin-bottom: 30px;
  }

  #img_frioul {
    height: 140px;
    object-position: 0 -5px;
  }

  #notredame {
    height: 200px;
    margin-bottom: 30px;
  }

  #img_notredame {
    height: 140px;
    object-position: 0 -2px;
  }

  #longchamp {
    height: 200px;
    margin-bottom: 30px;   
  }

  #img_longchamp {
    height: 140px;
    object-position: 0 -18px;
  }

  footer {
    flex-direction: column;
    height: unset;
    padding-right: unset;
  }

  .foot {
    padding-bottom: 20px;
    padding-top: 10px;
  }

}  

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

  header {
    padding-top: 15px;
  }

  #logo {
    padding-top: unset;
  }

  #navsinscrire {
    order: unset;
  }

  nav {
    flex-direction: row;
    margin-top: unset;
  }

  .searchbtn i {
    margin: unset;
    margin-left: -75px;
  }

  .searchbtn {
    width: 110px;
  }

  .searchbtn i {
    color: white;
  }

  .searchbtn span {
    margin-left: 70px;
  }

  #filters {
    flex-wrap: wrap;
  }

  #filters h2 {
    padding-right: 20px;
    padding-bottom: 20px;
  }

  #btncontainer {
    margin-left: unset;
  }
  #container {
    padding-top: 15px;
  }

  #info {
    margin-bottom: 10px;
  }

  #heberge_pop {
    flex-direction: column-reverse;
  }

  #sectionpopulaires {
    width: 100%;
    border-radius: unset;
    padding: unset;
    margin: unset;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  
  #sectionhebergements {
    width: 100%;
    border-radius: unset;
    padding: unset;
    margin: unset;
    background-color: unset;
    padding-top: 30px;
  }

  #sectionhebergements h3 {
    margin-top: 3px;
    padding-left: 13px;
    margin-left: unset;
  }

  .hotelcard {
    width: 40%;
  }

  .hotelcard_p {
    width: 65%;
    height: 150px;
  }

  #activites {
    margin: unset;
    padding-top: 40px;
  }

  #ancreactivites {
    margin-left: 18px;
  }

  .cards {
    padding-top: 15px;
    justify-content: space-around;
    margin-bottom: unset;
    margin-right: unset;
  }

  .imgcard_as {
    width: 100%;
    height: 420px; 
    object-fit: cover;
  }

  .activitecard_s {
    width: 45%;
    height: 480px;
    margin-bottom: 30px;
  }

  .activite_d {
    width: 45%;
    height: 480px;
    justify-content: space-between;
  }

  #pomegues, #frioul, #notredame, #longchamp {    
    height: 225px;
  }

  #img_pomegues, #img_frioul, #img_notredame, #img_longchamp {
    height: 160px;
  }

  #img_pomegues {
    object-position: 0 -200px;
  }

  #img_frioul {
    object-position: 0 0;
  }

  #img_longchamp {
    object-position: 0 -20px;
  }

  .foot {
    width: 30%;
  }

  footer {
    flex-direction: row;
    padding-right: unset;
  }

}