body {
  font-family: 'Raleway', sans-serif;
}

#blockpage{
    max-width: 1600px;
    margin: auto;
}

h1 {
  font-size: 19px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}

p, ul {
  font-size: 14px;
}

#header {
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

header {
  justify-content: space-between;
  align-items: flex-end;
}

/* Navigation */

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
}

nav li{
  margin-top: -40px;  
  margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
  color: #0065FC;
  border-top: bold #0065FC;
  padding-top: 40px;
}

ul {
  list-style-type: none;
}

#navsection {
  display: flex;
}
.navsinscrire {
    font-weight: bold;
    color: #0065FC;
    text-decoration: none;
    margin-top: 19px;
    margin-left: 24px;
    margin-right: 25px;
}


/* filter section */

#filtersection {
  margin: 15px;
}

#filtersection p {
  margin-top: 5px;
  margin-bottom: 10px;
}

#filtersection label {
  background-color: #F2F2F2;
  border-radius: 12px 0 0 12px;
}

.locationicon {
  background-color: #F2F2F2;
  border-radius: 12px 0 0 12px;
  width: 35px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}

.searchlocation {
  display: flex;
}

#location {
  height: 40px;
  width: 160px;
  border: 1px solid #F2F2F2;
}

/*
#research {
  color: #F2F2F2;
  font-size: 14px;
  background-color: #0065FC;
  height: 40px;
  width: 110px;
  border-radius: 0 12px 12px 0;
  margin-left: -5px;
} */

.searchbtn {
  color: #F2F2F2;
  font-size: 14px;
  background-color: #0065FC;
  height: 40px;
  width: 110px;
  border-radius: 0 12px 12px 0;
  margin-left: -5px;
}

.searchbtn i {
  color: #0065FC;
  width: 0;
  z-index: -2;
}

#filters {
  display: flex;
  width: 800px;
  margin-top: 40px;
  margin-left: -40px;
}

#btncontainer {
  display: flex;
  margin-left: 25px;
  margin-top: 8px;
}

#btncontainer :hover {
  color: #0065FC;
}

.btn {
  height: 35px;
  border-radius: 20px;
  background-color: white;
  outline:  #F2F2F2;
  display: flex;
  margin-right: 25px;
}

.btn i {
  background-color: #DEEBFF;
  width: 40px;
  height: 28px;
  color: #0065FC;
  border-radius: 20px;
  text-align: center;
  padding-top: 12px;
}

.btn p {
  border: 2px solid  #F2F2F2;
  height: 35x;
  width: max-content;
  border-radius: 20px;
  margin-left: -40px;
  padding: 10px 15px 10px 50px;
  align-self: center;
  font-weight: bold;
}

#filtersection {
  margin-top: 20px;
  height: 150px;
  position: relative;
  margin-bottom: 20px;
}

/* div container */
#container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#info {
  display: flex;
  margin-left: 15px;
}

#info i {
  color: #0065FC;
  border: 2px solid #F2F2F2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#info p {
  margin-left: 10px;
  margin-top: 5px;
}

#hebergements {
  display: flex;
  justify-content: space-between;
}

.hebergements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#upperheberge {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 16px;
}

#downheberge {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.hotelcard {
  width: 260px;
  height: 190px;
  position: relative;
  border: 4px solid white;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 10px#aeacaf;
}

.imgcard_h {
  width: 260px;
  height: 110px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.hotelcard_p {
  width: 360px;
  height: 130px;
  position: relative;
  border: 4px solid white;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 35px;
  box-shadow: 0px 0px 10px#aeacaf;
  display: flex;
}

.imgcard_p {
  width: 120px;
  height: 130px;
  object-fit: cover;
  border-radius: 18px 0 0 18px;
}

#sectionhebergements {
  background-color: #F2F2F2;
  border-radius: 18px;
  width: 65%;
  margin: 15px;
  padding: 20px 30px;
}

#sectionhebergements h2 {
  margin-left: 18px;
}

#sectionhebergements h3 {
  /* font-size: 14px;
  font-weight: bold; 
  margin-left: 13px; */
  margin-top: 8px;
}

#sectionhebergements p {
  margin-top: -8px;
  margin-left: 13px;
}

.stars {
  display: flex;
  margin-top: -8px;
  margin-left: 13px;
}

.bluestar {
  color: #0065FC;
}

.greystar {
  color: #F2F2F2;
  margin-left: 5px;
}

#sectionpopulaires {
  background-color: #F2F2F2;
  border-radius: 18px;
  width: 30%;
  margin: 15px;
  padding: 20px 30px;
  position: relative;
}

#sectionpopulaires i {
  margin-top: 18px;
  margin-right: 20px;
}

#sectionpopulaires h2 {
  margin-left: 18px;
}

#cardspopulaires {
  margin-left: 30px;
  margin-top: 18px;
  /*align-items: center; ??? */
}

#cardspopulaires h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 13px;
}

#sectionpopulaires p {
  margin-top: -8px;
  margin-left: 13px;
}

#title {
  display: flex;
  justify-content: space-between;
}

/* section activites */
#activites {
  width: 100%;
  margin: 15px;
}

.cards {
  display: flex;
  width: auto;
  position: relative;
  justify-content: space-between;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 55px;
}

.activite_s {
  width: 330px;
  height: 440px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}
.imgcard_as {
  width: 330px;
  height: 390px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}
.activite_d {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pomegues {
  width: 330px;
  height: 220px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_pomegues {
  width: 330px;
  height: 170px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -150px;
}

#frioul {
  width: 330px;
  height: 180px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_frioul {
  width: 330px;
  height: 130px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -12px;
}

#notredame {
  width: 330px;
  height: 180px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_notredame {
  width: 330px;
  height: 130px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -12px;
}

#longchamp {
  width: 330px;
  height: 220px;
  border-radius: 18px;
  box-shadow: 0px 0px 10px#aeacaf;
}

#img_longchamp {
  width: 330px;
  height: 170px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  object-position: 0 -8px;
}

/* footer */
footer {
  display: flex;
  height: 170px;
  background-color: #F2F2F2;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 500px;
  justify-content: space-between;
}

footer ul {
  padding-left: 2px;
  padding-top: 5px;
}

footer li {
  margin-bottom: 15px;
}

footer a {
  color: black;
  text-decoration: none;
}